@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  /* default */
  :root {
    --color-bg-base: #CCE1FF;
    --color-bg-secondary: #CC66FF;
    --color-bg-input: #faf0ff96;
  }
  /*default*/  
  .theme-beach {
    --color-bg-base: #CCFFFF;
    --color-bg-secondary: #FFCC33;
    --color-bg-input: #ffcc333c;
  }
  .theme-forest{
    --color-bg-base: #B2E2D0;
    --color-bg-secondary: #66CC99;
    --color-bg-input: #66cc9949;
  }
  .theme-space{
    --color-bg-base: #2D3648;
    --color-bg-secondary: #5E2DEB;
    --color-bg-input: #5c2deb2a;
  }
  .theme-under_the_sea{
    --color-bg-base: #7CBFD2;
    --color-bg-secondary: #1F6079;
    --color-bg-input: #1f607928;
  }
  .theme-stars{
    --color-bg-base: #040F72;
    --color-bg-secondary: #FFF3CD;
    --color-bg-input: #fff3cd83;
  }
  
}

.app{
  width: 1800px;
  height: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.app h1{
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: #000;
}


